site_name: Debashis Engineering Notes
theme:
  name: material
  palette: 
    primary: blue
    accent: light blue
  features:
    - navigation.tabs
    - search.suggest

nav:
  - Home: index.md
  - Java: java-notes.md
  - AI & ML: ai-notes.md